@use "../../styles/variables.scss" as v;
img{
    margin-bottom: -4px;
}
#projects{
    height: 100vh;
    width: 100vw;
    background-color: v.$clr-bg-2;
    display: grid;
    place-items: center;

    h1, p{
        text-align: center;
    }
   
}
