*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body{
    overflow-x: hidden ;
    background-color: rgb(5, 5, 5);
    color: white;
}
.blur{
    overflow-y: hidden;
}




a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
