@use "./variables.scss" as v;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body{

    overflow-x: hidden ;
    background-color: v.$clr-bg-1;
    color: white;
}

.blur{
    overflow-y: hidden;
}
h1,h2,h3,h4,h5,h6,a,button{
    font-family: v.$font-primery;
}
p{
    font-family: v.$font-secondary;
}


a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
