#home{
    height: 100vh;
    width: 100vw;
    // background-color: rgba(184, 175, 53, 0.856);
    display: grid;
    place-items: center;

    h1{
        text-align: center;
    }
    p{
        width: 50vw;
        text-align: center;
        
    }
   
}