.desktop-navbar{
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 0;
    ul{
        display: flex;
        padding: 0 4rem;     
        li{
            padding: 0 3rem;
            a{
                color: white;
            }
        }  
    }
    @media screen and (max-width: 780px){
        display: none;
        
    }
}
