@use "../../styles/variables.scss" as v;
@use "../../styles/mixins.scss" as m;
.desktop-navbar{
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 0;
    ul{
        display: flex;
        padding: 0 4rem;     
        li{
            padding: 0 3rem;
            a{
                color: white;
                transition: all .3s;
                &:hover{
                    color: v.$clr-blue;
                }
            }
        }  
    }
    @media screen and (max-width: 780px){
        display: none;
        
    }
}
